{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },  {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
