@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.button {
  height: 45px;
  width: 105px;
  text-align: center;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 7px;
}
