.topnav {
  width: 100%;
  height: 120px;
}
.topnav .logo {
  display: block;
  position: absolute;
}

.topnav li {
  padding-right: 20px;
  display: inline;
  line-height: 50px;
}

.topnav a {
  text-decoration: none;
  color: #f2f2f2;
}

.menu {
  background-color: #096623;
  height: 50px;
  margin-left: 150px;
  font-size: 15px;
}

.networkIcon {
  float: right;
  color: #fff;
  margin-right: 5px;
  font-size: 20px;
}
