@tailwind base;
@tailwind components;
@tailwind utilities;

.sub_div {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

body {
    margin: 0;
}

.fullWidthAutoComplete {
    width: 100%;
}

.dataGridCell {
    overflow: visible !important;
}

/* Keyframes for fading to black */

  
.error-row {
    background-color: rgba(255, 0, 0, 0.1);
}

/* .pending-validation {
    background-color: rgba(245, 234, 30, 0.478);
} */

/* .validated {
    background-color: rgba(29, 221, 19, 0.407);
} */
  

  
@keyframes rainbowColor {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: purple;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rainbowCircularProgress {
    animation: rotate 2s linear infinite, rainbowColor 6s linear infinite;
}

.error-cell {
    text-decoration: line-through;
    color: red;
}
.null-cell {
    color: white;
    font-weight: bolder;
    font-size: 0.75rem;
}
.auto-fill-correction {
    color: aqua;
}

.joyride__spotlight {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);
  }
  
  /* .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 999;
    pointer-events: none;
  } */